{% extends 'dashboard/base.html' %}

{% block title %}Presentación{% endblock %}

{% block content %}
<div class="container">
    <div class="header">
        <h2>Universidad Tecnológica de Panamá</h2>
        <h3>Facultad de Ingeniería de Sistemas Computacionales</h3>
        <h4>Departamento de computación y simulación de sistemas</h4>
    </div>
    <div class="content">
        <h1>Proyecto Análisis</h1>
        <p>Curso: Análisis de Datos y Toma de Decisiones</p>
        <div class="integrantes">
            <p>Integrantes:</p>
            <p>Ruben Suarez</p>
            <p>Angel Arcilla</p>
            <p>Romeisi Paniagua</p>
        </div>
        <p>Facilitador: Javier Sanchezgalan</p>
        <p>Primer Semestre - Tercer Año</p>
    </div>
</div>
{% endblock %}
